{{- with site.Params.comments -}}
{{- if and .enabled (eq .provider "giscus") -}}
{{- $giscus := .giscusConfig -}}
<script src="https://giscus.app/client.js"
        data-repo="{{ $giscus.repo }}"
        data-repo-id="{{ $giscus.repoID }}"
        data-category="{{ $giscus.category }}"
        data-category-id="{{ $giscus.categoryID }}"
        data-mapping="{{ $giscus.mapping }}"
        data-strict="{{ if $giscus.strict }}1{{ else }}0{{ end }}"
        data-reactions-enabled="{{ if $giscus.reactionsEnabled }}1{{ else }}0{{ end }}"
        data-emit-metadata="{{ if $giscus.emitMetadata }}1{{ else }}0{{ end }}"
        data-input-position="{{ $giscus.inputPosition }}"
        data-theme="{{ $giscus.theme }}"
        data-lang="{{ $giscus.lang }}"
        data-loading="{{ $giscus.loading }}"
        crossorigin="anonymous"
        async>
</script>
{{- end -}}
{{- end -}}
