{{ $file := .Get "file" | default "" }}
{{ $src := .Get "src" | default "" }}
{{ $width := .Get "width" | default "100%" }}
{{ $customHeight := .Get "height" }}
{{ $zoom := .Get "zoom" | default "page-fit" }}

{{ $height := "100vh" }}
{{ if $customHeight }}
  {{ $height = $customHeight }}
{{ else if $file }}
  {{ with index .Site.Data.pdfinfo $file }}
    {{ $pages := .pdfinfo.pages | default 1 }}
    {{ $ph := .pdfinfo.height | default 792.0 }}
    {{ $point2px := 1.3 }}
    {{ $totalHeight := mul (mul $ph $point2px) $pages }}
    {{ $height = printf "%.0fpx" $totalHeight }}
  {{ end }}
{{ end }}

<div class="pdf-container" style="width:{{ $width }}; height:{{ $height }};">
  <iframe 
    src="{{ $src }}#view=FitH&zoom={{ $zoom }}"
    type="application/pdf"
    width="100%" 
    height="100%" 
    frameborder="0"
    scrolling="auto">
  </iframe>
</div>

<style>
.pdf-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.pdf-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>